# Folder view configuration files
.DS_Store
Desktop.ini
trash/*
src/.vim/bundle/*
src/.vim/Fonts
src/.atom/
!src/.atom/styles.less
!src/.atom/init.coffee

# Claude configuration
.claude/temp-*
# Ignore Raycast extension source maps
src/.config/raycast/extensions/**/*.js.map
