[user]
	email = olliegilbey@gmail.com
	name = Ollie Gilbey
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFo+DKyoRY0oCvDlhJsoFTRc0mJ6zHMFOZmjg+6gNRF2

[url "git@github.com:"]
#    insteadOf = https://github.com/

[color]
    diff = auto
    status = auto
    branch = auto
[merge]
    tool = vimdiff
[alias]
    co = checkout
    #tree = log --graph --pretty=oneline --abbrev-commit --all --decorate
    tree = log --graph --pretty=format:'%C(auto) %h %ad [%an] %m%m %d %s' --abbrev-commit --all --decorate --date=short
    br = branch
    dif = diff --stat
    s = status
	st = status
    re = rebase -i
    fe = fetch --all -p
    fare = !git fetch --all -p && git rebase -i
[rebase]
    autosquash = true
[rerere]
    enabled = 0
[core]
        excludesfile = ~/.gitignore_global
	editor = nvim
[credential]
	helper = cache
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
